# Mozilla User Preferences
# Privacy-Handbuch, Thunderbird user.js (vom 02.08.2023)
# Download: https://www.privacy-handbuch.de/handbuch_31p.htm

user_pref("_user.js.prhdb", "tb-streng_02082023");

user_pref("beacon.enabled", false);
user_pref("browser.chrome.site_icons", false);
user_pref("browser.chrome.favicons", false);
user_pref("browser.display.use_document_fonts", 0);
user_pref("browser.cache.disk.enable", false);
user_pref("browser.cache.offline.enable", false);
user_pref("browser.crashReports.unsubmittedCheck.autoSubmit2", false);
user_pref("browser.formfill.enable", false);
user_pref("browser.region.update.enabled", false);
user_pref("browser.safebrowsing.phishing.enabled", false);
user_pref("browser.safebrowsing.malware.enabled", false);
user_pref("browser.safebrowsing.blockedURIs.enabled", false);
user_pref("browser.safebrowsing.downloads.enabled", false);
user_pref("browser.safebrowsing.downloads.remote.enabled", false);
user_pref("browser.safebrowsing.passwords.enabled", false);
user_pref("browser.safebrowsing.downloads.remote.block_dangerous", false);
user_pref("browser.safebrowsing.downloads.remote.block_dangerous_host", false);
user_pref("browser.safebrowsing.downloads.remote.block_potentially_unwanted", false);
user_pref("browser.safebrowsing.downloads.remote.block_uncommon", false);
user_pref("browser.safebrowsing.downloads.remote.url", "https://s.%.c.invalid/download?key=leer");
user_pref("browser.search.update", false);
user_pref("browser.search.suggest.enabled", false);
user_pref("datareporting.policy.dataSubmissionEnabled", false);
user_pref("datareporting.healthreport.uploadEnabled", false);
user_pref("dom.security.https_only_mode", true);
user_pref("extensions.blocklist.enabled", false);
user_pref("extensions.getAddons.cache.enabled", false);
user_pref("extensions.htmlaboutaddons.recommendations.enabled", false);
user_pref("extensions.ui.lastCategory", "addons://list/extension");
user_pref("javascript.options.baselinejit", false);
user_pref("javascript.options.ion", false);
user_pref("javascript.options.native_regexp", false);
user_pref("general.useragent.override", "");
user_pref("mailnews.auto_config.fetchFromExchange.enabled", false);
user_pref("mailnews.auto_config.fetchFromISP.sendEmailAddress", false);
user_pref("mailnews.auto_config.fetchFromISP.sslOnly", true);
user_pref("mailnews.auto_config.guess.sslOnly", true);
user_pref("mailnews.display.disallow_mime_handlers", 3);
user_pref("mailnews.display.html_as", 1);
user_pref("mailnews.display.prefer_plaintext", true);
user_pref("mailnews.headers.showSender", true);
user_pref("mailnews.headers.showUserAgent", true);
user_pref("mailnews.headers.sendUserAgent", false);
user_pref("mailnews.start_page.enabled", false);
user_pref("mail.collect_email_address_outgoing", false);
user_pref("mail.identity.default.compose_html", false);
user_pref("mail.inline_attachments", false);
user_pref("mail.compose.big_attachments.notify", false);
user_pref("mail.html_compose", false);
user_pref("mail.openpgp.allow_external_gnupg", true);
user_pref("mail.showCondensedAddresses", false);
user_pref("mail.smtpserver.default.hello_argument", "[127.0.0.1]");
user_pref("media.peerconnection.enabled", false);
user_pref("network.connectivity-service.enabled", false);
user_pref("network.cookie.cookieBehavior", 2);
user_pref("network.dns.disablePrefetch", true);
user_pref("network.IDN_show_punycode", true);
user_pref("network.http.sendRefererHeader", 0);
user_pref("network.http.speculative-parallel-limit", 0);
user_pref("network.prefetch-next", false);
user_pref("pdfjs.disabled", true);
user_pref("pdfjs.enableScripting", false);
user_pref("rss.display.disallow_mime_handlers", 3);
user_pref("rss.display.html_as", 1);
user_pref("rss.display.prefer_plaintext", true);
user_pref("rss.show.content-base", 1);
user_pref("security.family_safety.mode", 0);
user_pref("security.cert_pinning.enforcement_level", 2);
user_pref("security.mixed_content.upgrade_display_content", true);
user_pref("security.mixed_content.block_active_content", true);
user_pref("security.mixed_content.block_object_subrequest", true);
user_pref("security.OCSP.enabled", 0);
user_pref("security.ssl.require_safe_negotiation", true);
user_pref("security.ssl.treat_unsafe_negotiation_as_broken", true);
user_pref("security.tls.enable_0rtt_data", false);
user_pref("security.tls.version.min", 4);
user_pref("services.settings.server", "https://s.%.c.invalid/v1");
