user_pref("mail.identity.id1.archive_folder", "imap://apato%40posteo.net@posteo.de/Archives");
user_pref("mail.identity.id1.attach_signature", false);
user_pref("mail.identity.id1.attach_vcard", false);
user_pref("mail.identity.id1.catchAll", false);
user_pref("mail.identity.id1.doBcc", false);
user_pref("mail.identity.id1.draft_folder", "imap://apato%40posteo.net@posteo.de/Drafts");
user_pref("mail.identity.id1.drafts_folder_picker_mode", "0");
user_pref("mail.identity.id1.e2etechpref", 0);
user_pref("mail.identity.id1.encryptionpolicy", 0);
user_pref("mail.identity.id1.escapedVCard", "null");
user_pref("mail.identity.id1.fcc_folder", "imap://apato%40posteo.net@posteo.de/Sent");
user_pref("mail.identity.id1.fcc_folder_picker_mode", "0");
user_pref("mail.identity.id1.fullName", "apato");
user_pref("mail.identity.id1.htmlSigFormat", false);
user_pref("mail.identity.id1.is_gnupg_key_id", false);
user_pref("mail.identity.id1.openpgp_key_id", "5CCAEAC3B429D2E8");
user_pref("mail.identity.id1.reply_on_top", 1);
user_pref("mail.identity.id1.sign_mail", false);
user_pref("mail.identity.id1.smtpServer", "smtp1");
user_pref("mail.identity.id1.stationery_folder", "imap://apato%40posteo.net@posteo.de/Templates");
user_pref("mail.identity.id1.tmpl_folder_picker_mode", "0");
user_pref("mail.identity.id1.useremail", "apato@posteo.net");
user_pref("mail.identity.id1.valid", true);